{% extends "instructions/Page.html" %}
{% load otree i18n %}

{% block title %}
{% endblock %}

{% block content %}

    <h3>
    <br>
        {% blocktrans %}Your Reward{% endblocktrans %}
    </h3>

    <p>{% blocktrans %}In each period, your <b>Reward</b> increases with your <b>Spending</b> as explained before.
        However, if in the last period of your life (period 10) your <b>End Balance</b> is <b>negative</b>,
        your <b>Eurocent Reward</b> in this period will be <b>negative</b>,
        even if your <b>Spending</b> is 0 (see graph below).{% endblocktrans %}</p>

    <img id="graph" width="500" height="auto" />
    <br><br>

    <p>{% blocktrans %}For example, if your End Balance in Period 10 is -60 points,
        your Reward for that period will be -904 Eurocents.{% endblocktrans %}</p>

    <p>{% blocktrans %}To determine your Reward for the Investment Game, for each of your lives,
        we first sum the <b>Eurocent Rewards</b> over the 10 periods.
        Then, at the end of the Investment Game, we let the computer randomly choose one of your lives.
        The <b>Eurocent Rewards</b> that you have gathered in the selected life will be your additional compensation.{% endblocktrans %}</p>

    {% next_button %}

    <script>
        if ({{ lang|json }} == 'de') {
            document.getElementById('graph').src = "{% static 'graph1_de_new.png' %}";
        }
        if ({{ lang|json }} == 'en') {
            document.getElementById('graph').src = "{% static 'graph1_en.png' %}";
        }
    </script>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="7"
            aria-valuemin="0" aria-valuemax="100" style="width:7%">
            <span class="sr-only">7% Complete</span>
        </div>
    </div>

    <style>
        .otree-title {
            display: none;
        }
    </style>
{% endblock %}


