{% extends "quiz/Page.html" %}
{% load otree i18n %}

{% block title %}
{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <h6 class="alert-heading">{{ form.non_field_errors }}</h6>
        </div>
    {% endif %}

    <h3><br>{% blocktrans %}Quiz: try again{% endblocktrans %}</h3>

    <p>{% blocktrans %}Please answer the question again, before advancing to the live round. There is a hint below.{% endblocktrans %}</p>

    {% formfield player.quiz4 %}

    <p style="border:3px; border-style:solid; border-color: black; padding: 0.2em; border-radius: 3px">
    {% blocktrans %}Hint: <br>
    For each of your lives, we sum the <b>Eurocent Rewards</b> over the 10 periods.
        At the end of the Investment Game, the computer will randomly choose one of your lives.
        The <b>Eurocent Rewards</b> that you have gathered in the selected life, will be paid as an additional compensation.{% endblocktrans %}</p>

    {% next_button %}

     <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="29"
            aria-valuemin="0" aria-valuemax="100" style="width:29%">
            <span class="sr-only">29% Complete</span>
        </div>
    </div>

    <style>
    .otree-title {
        display: none;
    }

    .otree-form-errors {
            visibility: hidden;
            display: none;
    }
    </style>

{% endblock %}
