{% extends "quiz/Page.html" %}
{% load otree i18n %}

{% block title %}
{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <h6 class="alert-heading">{{ form.non_field_errors }}</h6>
        </div>
    {% endif %}

    <h3><br>{% blocktrans %}Quiz: try again{% endblocktrans %}</h3>

    <p>{% blocktrans %}Please answer the question again, before advancing to the live round. There is a hint below.{% endblocktrans %}</p>

    {% formfield player.quiz5 %}

    <p style="border:3px; border-style:solid; border-color: black; padding: 0.2em; border-radius: 3px">
    {% blocktrans %}Hint 1: <br>
    Whether you get a high or a low income is decided by the computer as illustrated below.
    The chances that a high or a low income is selected are equal.{% endblocktrans %}</p>

    <script src="{% static 'TweenMax.min.js' %}"></script>
    <script src="{% static 'Winwheel.min.js' %}"></script>
    <link href="{% static 'shCoreDefault.css' %}" rel="stylesheet">

    <table width="50%">
        <tr>
            <div style="position: absolute">
                <td align="left" >
                    <img src="{% static 'arrow1.png' %}" width="320" height="20" style="position: relative;
                        z-index: 1" />
                    <canvas id="imgCanvas" class="tutCanvas" width="320" height="220" style="position: relative;
                        z-index: 0">
                    </canvas>
                </td>
            </div>
        </tr>
    </table>
    <br>

    <script>
        // Create the wheel
        let planeWheel = new Winwheel({
            'canvasId' : 'imgCanvas',
            'drawMode' : 'image'                // drawMode must be set to image.
        });

        // Create new image object in memory.
        let loadedImg = new Image();

        // Create onLoad callback to execute once the image has finished loading.
        loadedImg.onload = function()
        {
            planeWheel.wheelImage = loadedImg;    // Make wheelImage equal the loaded image object.
            planeWheel.draw();                    // Also call draw function to render the wheel.
            beginAnimation();
        };

        // Set the image source, once complete this will trigger the onLoad callback (above).
        if ({{ lang|json }} == 'en') {
            loadedImg.src = "{% static 'wheel3.png' %}";
        }
        if ({{ lang|json }} == 'de') {
            loadedImg.src = "{% static 'wheel3_de.png' %}";
        }

        function beginAnimation()
        {
            // Add listener for the tick of the animation timer.
            TweenLite.ticker.addEventListener("tick", gameLoop);

            // Add repeating tween to rotate the wheel.
            TweenMax.to(planeWheel, 3, {rotationAngle:360, delay:2, repeat:-1, ease:Linear.easeNone});
        }

        function gameLoop()
        {
            planeWheel.draw();
        }
    </script>

    <p style="border:3px; border-style:solid; border-color: black; padding: 0.2em; border-radius: 3px">
    {% blocktrans %}Hint 2:
        If at the end of your life (period 10), if your <b>End Balance</b> is negative even with Spending=0 in this period,
        your <b>Eurocent Rewards</b> in this period will be negative (see graph below).{% endblocktrans %}</p>

    <img id="graph" width="500" height="auto" />

    <br></br>

    {% next_button %}

    <script>
        if ({{ lang|json }} == 'de') {
            document.getElementById('graph').src = "{% static 'graph1_de_new.png' %}";
        }
        if ({{ lang|json }} == 'en') {
            document.getElementById('graph').src = "{% static 'graph1_en.png' %}";
        }
    </script>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="29"
            aria-valuemin="0" aria-valuemax="100" style="width:29%">
            <span class="sr-only">29% Complete</span>
        </div>
    </div>

    <style>
    .otree-title {
        display: none;
    }

    .otree-form-errors {
            visibility: hidden;
            display: none;
    }
    </style>

{% endblock %}
