{% extends "post_survey/Page.html" %}
{% load otree i18n %}

{% block title %}
{% endblock %}

{% block content %}

    <h3>
    <br>
        {% blocktrans %}Demographic Questionnaire{% endblocktrans %}
    </h3>

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <h6 class="alert-heading">{{ form.non_field_errors }}</h6>
        </div>
    {% endif %}

    <p>{% blocktrans %}Before we proceed, we would like you to answer a few background questions.
        With these questions we would like to evaluate how well the participants in this study
        represent the whole population.
        Your answers have no effect on your reward.{% endblocktrans %}</p>

    {% formfields %}

    {% next_button %}

     <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="96"
            aria-valuemin="0" aria-valuemax="100" style="width:96%">
            <span class="sr-only">96% Complete</span>
        </div>
    </div>

    <style>
        .otree-title {
            display: none;
        }
        .otree-form-errors {
            visibility: hidden;
            display: none;
        }
    </style>

{% endblock %}
