{% extends "trial_borrow/Page.html" %}
{% load otree i18n %}

{% block title %}
{% endblock %}

{% block content %}

    <h3>
    <br>
        {% blocktrans %}Trial round{% endblocktrans %}
    </h3>

    <p>
        {% blocktrans %}You will now play a trial life to get you familiarized with the game.{% endblocktrans %}
    </p>

    <p>
        {% blocktrans %}Everything is identical to the lives you will play,
        except that you will not earn any financial reward based on the results of this trial life.{% endblocktrans %}
    </p>

    <p>
        {% blocktrans %}Use this life to explore all features of the game.
        You can access the instructions clicking on the buttons at the bottom of the page.{% endblocktrans %}
    </p>

    {% next_button %}

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="9"
            aria-valuemin="0" aria-valuemax="100" style="width:9%">
            <span class="sr-only">9% Complete</span>
        </div>
    </div>

    <style>
        .otree-title {
            display: none;
        }
        .otree-form-errors {
            visibility: hidden;
            display: none;
        }
        .noUi-slide {
            width: 100%; /* Width of the outside container */
        }

        /* The value of handle shows only when touching the handle. */
        .noUi-tooltip {
            display: none;
        }
        .noUi-active .noUi-tooltip {
            display: block;
        }
        .noUi-handle {
            display: none;
        }
        .noUi-pips {
            top: 9px;
        }
        .noUi-value {
            margin-top: -8px;
        }
        .noUi-marker-horizontal.noUi-marker-large {
            height: 10px;
        }

        #id_html {
            display: none;
        }

        #info_table {
          {#font-family: Arial, Helvetica, sans-serif;#}
          border-collapse: collapse;
          width: 70%;
        }

        #info_table th, #info_table td{
            border: 1px solid #ddd;
            border-left: none;
            border-right: none;
            padding: 8px;
            text-align: center;
        }

        #info_table tr:nth-child(even){background-color: #f2f2f2;}

        #info_table tr:hover {background-color: #ddd;}
    </style>
{% endblock %}
